<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VelocimetroJLZG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8133F5531DC28ECD0022AAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8133F5671DC28ECE0022AAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8133F5721DC28ECF0022AAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
